/*style.css*/
body{
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;
}

.draggable{
	margin-top: 7%;
	margin-left: 25%;
	width: 300px;
	height: 150px;
}


div.longbox_left{
	width: 80%;
	margin-top: 10%;
	height: 250px;
	float: right;
}

div.longbox{
	width: 80%;
	margin-top: 10%;
	height: 250px;
}

div.dropbox {
	width: 100%;
	height: 100%;
	border: 2px solid black;
	float: right;
}

div.floatleft {
	border: 2px solid black;
    float:left;
    width: 49.4%;
    background-color: #00ff00;
    height: 100%;
}

div.floatright {
	border: 2px solid black;
	float: left;
    background-color: #ff0000;
    height: 100%;
    width: 49.4%;
}